<%layout("/layouts/boilerplate.ejs")%>

    
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h1>Create New Listing</h1>
            <br>
        <form action="/listings" method="post" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Title" name="listing[title]" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Title</div>
            <div class="valid-feedback">Title looks good!!</div>

        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" placeholder="description" name="listing[description]" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Description</div>
            <div class="valid-feedback">Description looks good!!</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" placeholder="Image" name="listing[image]" class="form-control" required>
            <div class="invalid-feedback">Please Provide a Valid Image Link</div>
            <div class="valid-feedback">Link looks good!!</div>

        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" placeholder="Price" name="listing[price]" class="form-control" required>
                <div class="invalid-feedback">Please Enter a Valid Price</div>
                <div class="valid-feedback">Price looks good!!</div>

            </div>
            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" placeholder="Country" name="listing[country]" class="form-control" required>
                <div class="invalid-feedback">Please Enter a Valid Country Name</div>
                <div class="valid-feedback">Country looks good!!</div>

            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="Location" name="listing[location]" class="form-control" required>
            <div class="invalid-feedback">Please Enter a Valid Location</div>
            <div class="valid-feedback">Location looks good!!</div>

        </div>
        <br><br>
        <button class="btn btn-dark add-btn">Add Listing</button>
        <br><br>
    </form>
</div>
</div>